<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin</title>
<link th:href="@{/siimple.css}" rel="stylesheet" media="screen" />
</head>
<body>
	<h1>Admin</h1>
	<div class="col-12 row">
		<div class="col-4">
			<h4>Tambah Rute</h4>
			<form th:action="@{/addRute}" th:object="${rute}" method="post">
				<input type="hidden" th:field="*{id}" />
				<input type="text" placeholder="Dari" class="form-input" th:field="*{dari}" />
				<input type="text" placeholder="Ke" th:field="*{ke}" class="form-input" />
				<input type="text" placeholder="Harga" th:field="*{harga}" class="form-input" />
				<input type="submit" value="tambah" class="btn"/>
			</form>
		</div>
		<div class="col-1"></div>
		<div class="col-6">
			<h2>Konfirmasi Pesanan</h2>
			<table class="table">
				<thead style="font-weight: bold;">
					<tr >
						<td>ID Pesanan</td>
						<td>Rute</td>
						<td>Total Harga</td>
						<td>Action</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="t :${allTransaksi}">
						<td th:text="${t.id}"></td>
						<td th:text="${t.rute}"></td>
						<td th:text="${t.total}"></td>
						<td>
							<a th:href="${'/confirm/'+t.id}" class="btn-outline">confirm</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>