<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>User</title>
<link th:href="@{/siimple.css}" rel="stylesheet" media="screen" />
</head>
<body>
	<h1>Home User</h1>
	<div class="col-12 row">
		<div class="col-4">
			<h3>Pesan Tiket</h3>
			<form th:action="@{/addTransaksi}" th:object="${transaksi}" method="post">
				<input type="hidden" th:field="*{id}"/>
				<label>pilih rute</label>
				<select th:field="*{rute}" class="form-select">
					<option  th:each="r : ${allRute}" th:value="${r.dari} + ' ke ' + ${r.ke}" th:text="${r.dari} + ' ke ' + ${r.ke}" th:id="btn+${r.id}">
					</option>	
				</select>
				<input type="text" placeholder="Banyak Penumpang" id="penumpang" class="form-input" />
				<input type="hidden"  id="txtHarga" th:field="*{total}" class="form-input"/>
				<label id="lblHarga"></label>
				<input type="submit" value="pesan" class="btn"/>
			</form>
		</div>
		<div class="col-6">
		<h2>History Pesanan</h2>
			<table class="table">
				<thead style="font-weight: bold;">
					<tr >
						<td>ID Pesanan</td>
						<td>Rute</td>
						<td>Total Harga</td>
						<td>Status</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="t :${allTransaksi}">
						<td th:text="${t.id}"></td>
						<td th:text="${t.rute}"></td>
						<td th:text="${t.total}"></td>
						<td th:text="${t.status}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script type="text/javascript" th:src="@{'/jquery-2.1.1.min.js'}"></script>
	<script type="text/javascript" th:inline="javascript">
		
		$(window).load(function(){
			
		});
		$(document).ready(function(){
			$harga = 0;
			$.each( [[${allRute}]], function( key, value ) {
				  $('#btn'+value.id).click(function(){
					 $harga = value.harga;
					});
			});
			$('#penumpang').on('keyup',function(){
				$penumpang = $(this).val();
				$('#txtHarga').val($penumpang*$harga);
				$('#lblHarga').text("Total Pembayaran: "+$penumpang*$harga);
			});
			
		});
	</script>
</body>
</html>