<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>pesan tiket</title>
	<link th:href="@{/siimple.css}" rel="stylesheet" media="screen" />
</head>
<body>
	<div class="col-4"></div>
	<div class="col-4 border">
		<h1>Login/Register</h1>
		<form th:action="@{/login}" method="post">
			<input type="text" placeholder="username" name="user" class="form-input"/>
			<input type="password" placeholder="password" name="pass" class="form-input" />
			<input type="submit" value="Login/Register" class="btn"/>
		</form>
	</div>

</body>
</html>